<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tasks Manager</title>
  <link rel="stylesheet" href="styles.css" />
  <script src="./scripts/script.js" defer></script>
</head>
<body>
  <div class="spinner" id="loading">
    <div></div>
  </div>

  <div class="header">
    <p>Your Tasks</p>
    <button type="button" id="signOutBtn">
      Sign Out
    </button>
  </div>

  <div class="container">
    <form id="newTaskForm" onsubmit="createTask(event)">
      <label for="taskDescription">New Task:</label>
      <input type="text" id="taskDescription" name="taskDescription" required />
      <button type="submit">Add Task</button>
    </form>
  </div>

<div class="tasks-container">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="description-column">Description</th>
          <th class="actions-column">Actions</th>
        </tr>
      </thead>
      <tbody id="tasks"></tbody>
    </table>
  </div>
</div>


  <div id="toast" class="toast"></div>
</body>
</html>
